#body{

    width: 100%;
    position: absolute !important;
    margin-top: 25px;
    z-index: 99999999;
    background-color: #302c38 !important;
    margin-left: 0;

}

p{
        font-size: 0.9rem;
}