.gemini-card {
  border-radius: 28px !important;
  border: 1px solid #333537;
}

.zodiac-avatar {
  background: linear-gradient(135deg, #6b3fa0, #4285f4, #d96570);
  border-radius: 50%;
  width: 48px;
  height: 48px;
}

:host {
  font-family: 'Roboto', sans-serif;
  display: block;
}

mat-card-title {
  font-size: 1.2rem !important;
  align-self: center;
  margin-bottom: 0 !important;
}

.mat-mdc-card-header>div{
      margin-top: 10px!important;
}

.mat-mdc-card-header{
    align-items: center!important;
}


::ng-deep .mat-mdc-card-header {
    padding: 10px 16px 0!important;
}