    .sign-card.active {
      filter: grayscale(0);
      opacity: 1;
    }
  

    header{
          z-index: 99999!important;
         position: relative!important;
    }



/* Estilos de lista menú */
.menu-content ul {
  list-style: none;
  padding: 20px;
}

.menu-content li {
  margin-bottom: 15px;
}

#sliderContainer[_ngcontent-ng-c3943606533] {
    margin-bottom: 25px;

}
.header-wrapper
{
    padding-top: 55px;
    padding-bottom: 30px;

}


#sliderContainer> .absolute{
    border-width: 0.17rem
}

#sliderContainer{
  zoom: 90%;
}


#sliderContainer .will-change-transform {
     padding-left: 5%!important;
 }