<mat-sidenav-container class="drawer-container" id="drawer">

  <mat-sidenav  #drawer mode="over" class="bg"   (closedStart)="onDrawerClosed()">
    
    <app-user></app-user>


    <div class="other">

        <mat-nav-list>
      
           <a mat-list-item (click)="about()">
             <mat-icon matListItemIcon>info</mat-icon>
             <div matListItemTitle><span class="mini">Acerca de esta app</span></div>
           </a>

          <a mat-list-item (click)="share()">
             <mat-icon matListItemIcon>share</mat-icon>
             <div matListItemTitle><span class="mini">Compartir app</span></div>
          </a>

        </mat-nav-list>
    
      </div>

  </mat-sidenav>

  <mat-sidenav-content>
    <button mat-icon-button id="menuBtn" class="hamburger-button shadow" (click)="this.toggleMenu()" >
           
           <div class="hamburger-lines">
               <span class="line line1"></span>
               <span class="line line2"></span>
               <span class="line line3"></span>
           </div>

      </button>

    <main class="content">
        <ng-content></ng-content>
    </main>

  </mat-sidenav-content>

</mat-sidenav-container>