/* Contenedor principal */
.drawer-container {
  height: 100vh;
  width: 100%;
}

.side-panel {
  width: 260px;
  background-color: #ffffff;
  box-shadow: 2px 0 5px rgba(0,0,0,0.1);
}

/* Navbar superior */
.navbar {
  display: flex;
  align-items: center;
  padding: 0 16px;
  height: 64px;
  background-color: #3f51b5;
  color: white;
  gap: 15px;
}



/*Menu stuff*/

/* Contenedor del botón */
.hamburger-button {
  
  width: 40px !important;
  height: 40px !important;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  top: 10px;
  left: 10px;
}

/* Contenedor de las líneas */
.hamburger-lines {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 24px;
  height: 18px;
  transition: transform 0.4s ease-in-out;
}

/* Estilo general de cada línea */
.line {
  display: block;
  height: 2px;
  width: 100%;
  border-radius: 10px;
  background-color: grey; /* Usa el color del texto actual */
  transition: all 0.3s ease-in-out;
}

#menuBtn{
    padding: 10px!important;
    background-color: #302c38!important;
    position: fixed!important;
    z-index: 999999;
}


mat-sidenav{
      width: 85vw!important;
      border-radius:0px;
      max-height: 100%!important;
}


::ng-deep .other mat-icon{
      color: #262626!important;
}

.other a {
     border-bottom: 1px solid rgb(245 245 245 / 17%);
     border-radius: 0;
     padding:  35px 0!important;

}

::ng-deep .mdc-list{
      padding: 0 13%!important;
}