.bg{
  background-color: #37393b;
}

#waves path{
      fill: #302c38 !important;
}

.bg-dark{
  background-color:#1e1f20 !important;
}

.bg-purple{
   color: #302c38!important;
}

.bg-purple-dark{
   color: #2f204d!important;
}

.op-9{
      opacity: 0.9;
}

 h1 {
      font-size: 1.15rem; /* Ligeramente menor para minimalismo */
      font-weight: 500;
      margin: 0;
      letter-spacing: -0.025em;
    }


   .mat-mdc-select {

      border-radius: 10px !important;
    }

    .form-container{
      zoom: 90%!important;
    }


.mini{
      line-height: normal;
      font-size: 13px;
      letter-spacing: 0.14rem;

}

.mini-s{
        font-size: 12px!important;
}


.mat-mdc-form-field{
      height: 70px;
      border-radius: 0px!important;
}



.mdc-button__labell{
  font-size: 12px!important;
}


#waves{
    width: 130% !important;
    display: flex;
    position: absolute;
    z-index: 99999;
     margin-top: -35px;
 }



 mat-sidenav-content{
  overflow: hidden;
 }


h1,span{
  color: white!important;
}

mat-sidenav{
      border-radius: 15px;
      margin-left: -15px;
}

.shadow{
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.5) !important;
}

mat-card-title,
p{
      color: #e3e3e3b3!important;
    line-height: 23px!important;
}