.bg{
  background-color: #37393b;
}

#waves path{
      fill: #302c38 !important;
}

.bg-dark{
  background-color:#1e1f20 !important;
}

.bg-dark-2{
  background-color: #000000ea !important;
}

.bg-purple{
   color: #302c38!important;
}

.bg-purple-dark{
   color: #2f204d!important;
}

.op-9{
      opacity: 0.9;
}

 h1 {
      font-size: 1.15rem; /* Ligeramente menor para minimalismo */
      font-weight: 500;
      margin: 0;
      letter-spacing: -0.025em;
    }


   .mat-mdc-select {

      border-radius: 10px !important;
    }

    .form-container{
      zoom: 90%!important;
    }


.mini{
      line-height: normal;
      font-size: 13px;
      letter-spacing: 0.14rem;

}

.mini-s{
        font-size: 12px!important;
}


.mat-mdc-form-field{
      height: 70px;
      border-radius: 0px!important;
}



.mdc-button__labell{
  font-size: 12px!important;
}


#waves{
    width: 130% !important;
    display: flex;
    position: absolute;
    z-index: 99999;
     margin-top: -35px;
 }



 mat-sidenav-content{
  overflow-x: hidden;
    overflow-y: scroll;
 }


h1,span{
  color: white!important;
}

mat-sidenav{
      border-radius: 15px;
      margin-left: -15px;
}

.shadow{
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.5) !important;
}

mat-card-title,
input,
::ng-deep .mat-calendar-body-cell-content,
::ng-deep .mat-calendar-body-label,
::ng-deep .mdc-button__label,
p{
      color: #e3e3e3b3!important;
    line-height: 23px!important;
}



.mat-mdc-unelevated-button:not(:disabled){
  background: #3f2e3f!important;
  border: 0.1rem solid #ffffff59;
}



::ng-deep .mat-calendar,
::ng-deep .mat-mdc-select-panel,
::ng-deep .mat-datepicker-content.mat-primary {
  
    background-color: #23292f !important;
    border-radius: 15px;

}

 
.mat-calendar-content {
    padding: 0 25px;
    outline: aquamarine;
}

::ng-deep .swal2-container.swal2-center.swal2-backdrop-show{
    overflow-y: auto;
    background: #80808094!important;
}


::ng-deep .swal2-container.swal2-center.swal2-backdrop-show>div{
      border-radius: 15px;
}


